.selectForm {
  margin: 5rem 0;
  label {
    font-size: 2rem;
  }
  .select {
    background-color: $whiteColor;
    margin: 3rem 0;
    font-size: 1.8rem;
  }
}

@media (max-width: 321px) {
  html {
    font-size: 4px;
  }

  .selectForm {
    label {
      font-size: 4rem;
    }
    .select {
      font-size: 4rem;
    }
  }
}

@media (max-width: 426px) {
  html {
    font-size: 5px;
  }

  .selectForm {
    label {
      font-size: 4rem;
    }
    .select {
      font-size: 3rem;
    }
  }
}

@media (max-width: 769px) and (min-width: 427px) {
  html {
    font-size: 6px;
  }

  .main {
    .container {
      h1 {
        font-size: 6rem;
      }
    }
  }

  .selectForm {
    label {
      font-size: 4rem;
    }
    .select {
      font-size: 3rem;
    }
  }
}

@media (max-width: 1025px) and (min-width: 770px) {
  html {
    font-size: 6px;
  }

  .selectForm {
    label {
      font-size: 4rem;
    }
    .select {
      font-size: 3rem;
    }
  }
}

@media (max-width: 1441px) and (min-width: 1026px) {
  html {
    font-size: 6px;
  }

  .selectForm {
    label {
      font-size: 4rem;
    }
    .select {
      font-size: 3rem;
    }
  }
}
